.header{
    background-color: gray;
    padding: 30px;
}

.container{
    width: 100%;
    float: left;
}
.sidebar{
    width: 20%;
    float: left;
    height: 400px;
    background-color: blueviolet;
}
ul{
    list-style-type: none;
}
.mainbody{
    width: 70%;
    float: left;
    padding: 5%;
}
.footer{
    background-color: aquamarine;
    padding: 5%;
    float: left;
    width: 90%;
}



.menu-container{

}
.logo{
    width: 200px;
}
.menu{
    list-style-type: none;
    float: Right;
}
.menu li{
    display: inline;
}
.menu li a{
    padding-left: 10px;
    padding-right: 10px;
}
